@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Inicia Sesión</h1>

</div>

<div class="row">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">User</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your user with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="Password">
        </div>

        <button type="button" class="btn btn-primary" onclick="LOGIN()">Entrar</button>
    </form>
</div>


<script>

    const LOGIN = () => {
        let user = document.getElementById("email").value;
        let password = document.getElementById("Password").value;

        fetch(`http://localhost:26746/api/Values?user=${user}&password=${password}`, {headers:{'Access-Control-Allow-Origin':'*'}})
            .then(function (response) {
                return response.json();
            })
            .then(function (myJson) {
                console.log(myJson);
                window.location.href = '@Url.Action("About","Home")';
            });
    }

</script>